@import url("https://fonts.googleapis.com/css2? family= Playfair+Display:ital,wght@0,400;1,900 & display=swap");

body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.home-quote {
  background: url("./../img/lady-justice-677945_1920.jpg") center center;
  background-size: cover;
  height: 500px;
}

.home-quote2 {
  background: url("/img/Posse-GIDJ.jpg") center center;
  background-size: cover;
  height: 500px;
}

.blockquote {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.57);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  opacity: 0.38;
  height: 500px;
  width: 100%;
  z-index: 10;
}

.text-corpo {
  position: absolute;
  z-index: 100 !important;
  color: white !important;
  margin-left: 50px;
  margin-top: 60px;
}

.text-corpo p,
h2 {
  font-weight: 800;
}

.text-corpo h2 {
  padding-left: 19%;
}

.text-corpo p {
  padding-left: 50%;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  position: relative;
  left: -50%;
}

@media (max-width: 767px) {
  .text-corpo p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: -140px;
    left: -40%;
  }
  .text-corpo h2 {
    font-size: 30px;
    position:absolute;
    top: -25%;
    left: -5%;
  }

}
/* 
.home-quote p {
  font-size: 16px;
  text-align: justify;
  color: #ffffff !important;
  font-family: "Poppins", Sans-serif;
  line-height: 1.9em;
  flex-wrap: wrap;
  z-index: 100 !important;
} */

.home-quote h2 {
  margin-top: 65px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-family: "Playfair Display", serif;
}

#home-quote p {
  margin-top: 80px;
}

.lista-plano li {
  padding: 1rem;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .fixed-top {
    position: relative;
  }
  #home-quote .display-4 {
    font-size: 2.5rem;
  }
}

footer a {
  color: #a3a3a3;
}

.pergunta a {
  color: #2b3d61;
  margin-left: auto;
  font-size: 12px;
  text-align: left;
}

.pergunta span {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.pergunta {
  background-color: rgb(216, 216, 216);
  border-radius: 0.3em;
}

.pergunta img {
  text-align: left;
  height: 20px;
  margin-top: 12px;
}

.col-xl-2 {
  padding-right: 5px;
  padding-left: 5px;
}

.pergunta,
.lead {
  margin-bottom: 160px;
}

.collapse {
  color: bisque;
}

.collapse p {
  font-size: 15px;
}

/* Section Depoimentos Inicio */

.testimonial {
  padding: 40px 65px;
  margin: 0 20px 30px;
  border-radius: 0 70px 0 70px;
  border: 5px solid #f1cf81;
  border-left: none;
  border-right: none;
  text-align: center;
}

/* .demo {
  background: #3d3d3d;
} */

.testimonial {
  padding: 40px 65px;
  margin: 0 20px 30px;
  border-radius: 0 70px 0 70px;
  border: 5px solid #ffd77a;
  border-left: none;
  border-right: none;
  text-align: center;
}

.testimonial .pic {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .title {
  display: block;
  margin: 0 0 7px 0;
  font-size: 20px;
  font-weight: 600;
  color: #fabe30;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial .post {
  display: block;
  font-size: 10px;
  color: #868686;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.testimonial .description {
  font-size: 16px;
  color: #414141;
  line-height: 30px;
}
.owl-theme .owl-controls {
  margin-top: 0;
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #ffc33c;
}

.texto-secao2 p {
  font-size: 17px;
  line-height: 1.8em;
}

.sobre {
  padding: 20px 90px;
}
